# Working with pandas

In [ ]:
import pandas as pd

## Basic inspection and manipulation

In [ ]:
FNAME = "http://www.stat.ucla.edu/~rgould/datasets/twins.dat"

df = pd.read_csv(FNAME, sep='\t')

In [ ]:
df["WHITEL"] = df["WHITEL"].astype(bool)
df["WHITEH"] = df["WHITEH"].astype("category")
df["LHRWAGEH"] = pd.to_numeric(df["LHRWAGEH"], errors="coerce")

In [ ]:
bools = ['WHITEH', 'MALEH', 'WHITEL', 'MALEL']
df[bools] = df[bools].astype(bool)
df['DMARRIED'] = df['DMARRIED'].astype('int8')
df.info(memory_usage=True)

In [ ]:
df[df["WHITEL"] == 0].shape

In [ ]:
df["WHITEL"] == 0

In [ ]:
sum(df["WHITEL"] == 0)

In [ ]:
df[(df["WHITEH"] == 1) & (df["DEDUC1"] != 0)].shape

In [ ]:
df[df["WHITEH"] != df["WHITEL"]].shape

In [ ]:
mask = (df["WHITEL"] != 1) & (df["MALEL"] != 1) & (df["EDUCL"].isin((12, 14)))
df[mask]["AGE"].mean()

In [ ]:
df.groupby(["MALEL"])[["AGE", "DEDUC1"]].agg(["mean", "min"])

In [ ]:
df

## Working with multiple DataFrames

In [ ]:
d = {'employee': ['Hannes', 'Fabiana', 'George', 'Olga', 'Michael'],
     'group': ['Accounting', 'Engineering', 'Engineering', 'HR', 'Janitor']}
df1 = pd.DataFrame.from_dict(d)
df1

In [ ]:
t = [('Hannes', 2004), ('Fabiana', 2008), ('George', 2012), ('Olga', 2014), ("Anna", 2020)]
df2 = pd.DataFrame.from_records(t, columns=["employee", "hire_date"])
df2

In [ ]:
pd.concat([df1, df2])  # Stack on top of each other

In [ ]:
pd.concat([df1, df2], axis=1)  # Stack next to each other

In [ ]:
df1.merge(df2, left_on="employee", right_on="employee")  # SQL-like merging; beware the how parameter

In [ ]:
df2 = df2.set_index("employee")
df1.join(df2, on="employee")  # equivalent to above, but faster; beware the index & the how parameter